*.blade.php linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.scss linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore